html, body {
  padding: 0;
  margin: 0;
}

section {
  width: 100%;
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
p {}
ul {}
ol {}
ul li,
ol li {}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
