// // GLOBAL
$fast: 0.2s;
$slow: 0.4s;
$radius: 3px;

// $dark-shadow: ;
// $light-shadow: ;

$padding: 15px;
$thin-padding: 10px;
$thick-padding: 20px;

$margin: 15px;
$thin-margin: 10px;
$thick-margin: 20px;
