// COLORS
$white: #ffffff;
$eggshell: #f9f9f9;

$light-black: #303030;
$mid-black: #252525;
$dark-black: #020202;
$black: #111111;

$light-grey: #d8d8d8;
$mid-grey: #808080;
$dark-grey: #505050;

$light-red: #ff4444;
$mid-red: #b30000;
$dark-red: #300000;

$light-blue: #66a3ff;
$mid-blue: #002db3;
$dark-blue: #004466;

$light-green: #00cc44;
$mid-green: #2d862d;
$dark-green: #003300;

$light-yellow: #ffff33;
$mid-yellow: #e6e600;
$dark-yellow: #999900;

$light-orange: #ffb84d;
$mid-orange: #ff8000;
$dark-orange: #b36b00;

$light-purple: #bb99ff;
$mid-purple: #9933ff;
$dark-purple: #4d0099;

$light-brown: #d2a679;
$mid-brown: #996633;
$dark-brown: #4d3319;

// PALETTE
// $primary: ;
// $secondary: ;
// $accent: ;
// $highlight: ;

// // GLOBAL
$fast: 0.2s;
$slow: 0.4s;
$radius: 2px;

// $dark-shadow: ;
// $light-shadow: ;

$padding: 15px;
$thin-padding: 10px;
$thick-padding: 20px;

$margin: 15px;
$thin-margin: 10px;
$thick-margin: 20px;
